# Node
node_modules/
backend/node_modules/
.env
backend/.env
npm-debug.log

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/pubspec.lock

# IDE
.vscode/
.idea/
*.iml
